<!--
author: Grupo4
author URL: http://Grupo4.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Concesionaria Latinoamericana | Cliente</title>
    <!-- custom-theme -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="CONCESIONARIA Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //custom-theme files-->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //custom-theme files-->

    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- googlefonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <!-- //googlefonts -->

</head>

<body>

    <!-- banner -->
    <div class="banner-1">
        <div class="banner-dott">
            <!-- Top-Bar -->
            <div class="top">
                <div class="container">

                    <div class="col-md-6 top-left">
                        <ul>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i> +593 985 78 4658</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Quito, Ecuador </li>
                        </ul>
                    </div>
                    <div class="col-md-6 top-middle">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100077547752012" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/concesionaria_l" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
            <div class="top-bar">
                <div class="container">
                    <div class="header">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header navbar-left">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
                                <h1><a class="navbar-brand" href="/">Concesionaria Latinoamericana</span></a></h1>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                                <nav class="cl-effect-15" id="cl-effect-15">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">Conócenos</a></li>

                                        <li class="dropdown active">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Iniciar Sesión <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/login">Login</a></li>
                                                <li><a href="/registrarse">Registrarse</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contáctenos</a></li>
                                    </ul>

                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- //Top-Bar -->
        </div>
    </div>
    <!-- //banner -->
    <!-- Reportes-->
    <div class="typo">
        <div class="container">
            <h3 class="w3l-titles">MODO ADMINISTRADOR</h3>
            <button type="button" class="btn btn-outline-warning" onclick="mostrar_tabla(10, 0)">Mostrar Tabla</button>
             <div class="mt-5" id="tabla_fact">
                        <table id="fact" name="fact" class="table">
                            <thead>
                               <tr>
                                    <th> sk_carro  </th>
                                    <th> sk_revision  </th>
                                    <th> sk_ventas  </th>
                                    <th> sk_concesionario </th>
                                    <th> sk_fecha </th>
                                    <th> Kilometro </th>
                                    <th> precio </th>
                                    <th> potencia_ps </th>
                                    <th> codigo_postal </th>
                                </tr>
                            </thead>
                            <tbody id="contenido">
                                
                            </tbody>
                        </table>
                        <button type='button' class='btn btn-outline-warning' onclick='addpaginas()'>+</button>
                        <button type='button' class='btn btn-outline-warning' onclick='respaginas()'>-</button>
                    </div>
                    <br>
            <p class="w3ls-p">Usted puede Insertar, Borrar, y Actualizar los registros de la base de datos</p>
            <br>
            <div>
                <button type="button" class="btn btn-outline-warning" onclick="insertar()">Insertar</button>
                <button type="button" class="btn btn-outline-warning" onclick="actualizar()">Actualizar</button>
                <button type="button" class="btn btn-outline-warning" onclick="eliminar()">Eliminar</button>
            </div>
            <br>
            <div id="contenido_administrador">

            </div>
               
        </div>
    </div>

<!-- Reportes-->
    <!-- footer -->
 <div class="footer">
            <div class="container">
                <div class="agileits_Grupo4_footer_grids">
                    <div class="col-md-4 agileits_Grupo4_footer_grid">
                        <h3>Llámanos Ahora</h3>
                        <ul>
                            <li><span>Teléfono Oficina :</span> (+593) 2302 232</li>
                            <li><span>Fax :</span> (+593) 123 456 455</li>
                        </ul>
                    </div>
                    <div class="col-md-4 agileits_Grupo4_footer_grid">
                        <h3>Dirección</h3>
                        <p>Quito, Ecuador <i>Av. Morán Valverde y Rumichaca Ñan</i></p>
                    </div>
                    <div class="col-md-4 agileits_Grupo4_footer_grid">
                        <h3>Enviar un correo</h3>
                        <ul>
                            <li><span>Correo electrónico:</span> <a href="mailto:concesionarialatinoamericana@gmail.com">info@concelatam.com</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>
        </div>
        <div class="wthree_copy_right copyright">
            <div class="container">
                <div class="copyrighttop">
                    <ul>
                        <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100077547752012" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="facebook" href="https://twitter.com/concesionaria_l" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="facebook" href="https://www.instagram.com/concesionarialatinoamericana/ " target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                    </ul>
                </div>
                <p>©️ 2022 CONCESIONARIA. All rights reserved | Design by <a href="http://Grupo4.com/">Grupo4</a></p>
            </div>
        </div>
    <!-- //footer -->
    <!-- bootstrap-modal-pop-up -->
    
    <!-- //bootstrap-modal-pop-up -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js -->
    <!-- //here starts scrolling icon -->
    <script src="js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/api.js"></script>
    <!-- here stars scrolling script -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            	var defaults = {
            	containerID: 'toTop', // fading element id
            	containerHoverID: 'toTopHover', // fading element hover id
            	scrollSpeed: 1200,
            	easingType: 'linear' 
            	};
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling script -->
    <!-- //here ends scrolling icon -->

    <!-- scrolling script -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //scrolling script -->
    <script type="text/javascript">
    let html = ""
    function insertar() {
        return document.getElementById("contenido_administrador").innerHTML = "<div class='row g-3'>" +
        "   <input type='text' class='form-control' id='inputSkCarro' placeholder='Ingrese el sk_carro a insertar' required>" +
        "   <input type='text' class='form-control' id='inputSkRevision' placeholder='Ingrese el sk_revision a insertar' required>"+
        "   <input type='text' class='form-control' id='inputSkVentas' placeholder='Ingrese el sk_ventas a insertar' required>"+
        "   <input type='text' class='form-control' id='inputSkConcesionario' placeholder='Ingrese el sk_concesionario a insertar' required>"+
        "   <input type='text' class='form-control' id='inputSkFecha' placeholder='Ingrese el sk_fecha a insertar' required>"+
        "   <input type='text' class='form-control' id='inputKilometro' placeholder='Ingrese el kilometraje a insertar' required>"+
        "   <input type='text' class='form-control' id='inputPrecio' placeholder='Ingrese el precio a insertar' required>"+
        "   <input type='text' class='form-control' id='inputPotenciaPs' placeholder='Ingrese la potencia a insertar' required>"+
        "   <input type='text' class='form-control' id='inputCodigoPostal' placeholder='Ingrese el codigo postal a insertar' required>  <br>"+
        "   <button type='button' class='btn btn-outline-warning' onclick='insertar_registros()'>Aplicar</button>";
    }

    function actualizar() {
        return document.getElementById("contenido_administrador").innerHTML = "<div class='row g-3'>" +
        "   <button type='button' class='btn btn-outline-warning' onclick='buscar_registros()'>Buscar Registro</button>"+
        "   <input type='text' class='form-control' id='inputSkCarro' placeholder='Ingrese el sk_carro a actualizar' required>" +
        "   <input type='text' class='form-control' id='inputSkRevision' placeholder='Ingrese el sk_revision a actualizar' required>"+
        "   <input type='text' class='form-control' id='inputSkVentas' placeholder='Ingrese el sk_ventas a actualizar' required>"+
        "   <input type='text' class='form-control' id='inputSkConcesionario' placeholder='Ingrese el sk_concesionario a actualizar' required>"+
        "   <input type='text' class='form-control' id='inputSkFecha' placeholder='Ingrese el sk_fecha a actualizar' required>"+
        "   <input type='text' class='form-control' id='inputKilometro' placeholder='Ingrese el kilometraje a actualizar' required>"+
        "   <input type='text' class='form-control' id='inputPrecio' placeholder='Ingrese el precio a actualizar' required>"+
        "   <input type='text' class='form-control' id='inputPotenciaPs' placeholder='Ingrese la potencia a actualizar' required>"+
        "   <input type='text' class='form-control' id='inputCodigoPostal' placeholder='Ingrese el codigo postal a actualizar' required> <br> <br>"+

        "   <input type='text' class='form-control' id='inputKilometroA' placeholder='Ingrese el kilometraje actualizado' required>"+
        "   <input type='text' class='form-control' id='inputPrecioA' placeholder='Ingrese el precio actualizado' required>"+
        "   <input type='text' class='form-control' id='inputPotenciaPsA' placeholder='Ingrese la potencia actualizado' required>"+
        "   <input type='text' class='form-control' id='inputCodigoPostalA' placeholder='Ingrese el codigo postal actualizado' required> <br>"+
        "   <button type='button' class='btn btn-outline-warning' onclick='actualizar_registros()'>Aplicar</button>";
    }

    function eliminar() {        
        return document.getElementById("contenido_administrador").innerHTML = "<div class='row g-3'>" +
        "   <input type='text' class='form-control' id='inputSkCarro' placeholder='Ingrese el sk_carro a eliminar' required>" +
        "   <button type='button' class='btn btn-outline-warning' onclick='eliminar_registros()'>Aplicar</button>";
    }
    </script>
</body>

</html>